spring:
  application:
    name: OAuthGoogleLoginExample
  datasource:
      url: ${DB_URL}
      username: ${DB_USER_NAME}
      password: ${DB_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
      database: mysql
      database-platform: org.hibernate.dialect.MySQL8Dialect
      hibernate:
        ddl-auto: create
      properties:
        hibernate:
          show-sql: true
          format_sql: false
          use_sql_comments: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-in-milliseconds: ${ACCESS_TOKEN_VALIDITY_IN_MILLISECONDS}
